.container {
  box-sizing: border-box;
  background-color: #e7eabf;
  .list {
    box-sizing: border-box;
    padding: 0 20px;
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-time {
      font-size: 12px;
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2px;
      align-items: center;
    }

    .item-ml {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 2px;
    }

    .item-action {
      display: flex;
      gap: 20px;
      align-items: center;
      align-self: center;
      justify-content: flex-end;
    }
  }

  .add {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #436ef8;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
  }

  .popup {
    padding: 20px;
  }
}
