.choose-ml {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  .item-ml {
    padding: 4px 8px;
    border-radius: 20px;
    background-color: #ff007316; /* 修改背景颜色 */
    color: #343434;
    border: 2px solid transparent;

    &.active {
      border: 2px solid #ff0073;
      color: #ff0073;
    }
  }
}
