.choose-ml {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  .item-ml {
    padding: 4px 8px;
    border-radius: 20px;
    background-color: #00c45b; /* 修改背景颜色 */
    color: #fff;

    &.active {
      background-color: #ff0073; /* 修改背景颜色 */
    }
  }
}
